
main > article[data-action="list"] {

	> header {

		> .summary {
			padding: 13px 10px 12px;
			position: absolute;
			right: 0;
			white-space: nowrap;
		}
	}

	> form {
		display: grid;
		grid-template-areas: "table" "footer";
		grid-template-rows: 1fr min-content;

		> footer {
			grid-area: footer;
			position: relative;
		}

		> table.objects > tbody > tr > :not(:first-child) {
			cursor: pointer;
		}
	}
}

table.objects {
	border-collapse: collapse;
	display: block;
	grid-area: table;
	margin-bottom: -1px;
	overflow-y: auto;

	th {
		background: #f8f8f8;
	}

	tr {

		td, th {
			border-bottom: 1px solid #d8d8d8;
			border-spacing: 0;
			padding: .6em;

			&:last-child {
				border-right: 1px solid #d8d8d8;
			}
		}

		&.properties > .select > input[name=select] {
			display: none;
		}
	}

	> tbody > tr {

		> td > ul {
			display: block;
			margin: 0;
			padding: 0;

			> li {
				display: inline-block;

				&:not(:first-child):before {
					content: ', ';
				}
			}
		}
	}

	> tbody:first-child > tr {

		&:nth-child(even) > td {
			background: white;
		}

		&:nth-child(odd) > td {
			background: #f8f8f8;
		}
	}

	> thead + tbody > tr {

		&:nth-child(even) > td {
			background: #f8f8f8;
		}

		&:nth-child(odd) > td {
			background: white;
		}
	}
}

:not(article, article > form) > table.objects {
	td, th {
		border-top: 1px solid #d8d8d8;

		&:first-child {
			border-left: 1px solid #d8d8d8;
		}
	}
}
